*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mese-corrente {
    margin-bottom: 20px;
}

.navigazione-mesi button {
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
}

.navigazione-mesi button:disabled {
    background-color: lightgrey;
    cursor: no-drop;
}

.festa {
    color: red;
    background: lightpink;
}

#calendario {
    display: flex;
    flex-flow: wrap;
    margin-left: calc(100% - 1410px);
}

#calendario li {
    border: 1px solid black;
    width: 200px;
    height: 120px;
    padding: 20px;
    list-style-type: none;

}
